body{
    height: 100vh;
    background-image: linear-gradient(to right top, #3da681, #3ac8c1, #00aedd, #3196c8, #4787ec);
}

.custom-control-label{
    vertical-align: middle;
}

.custom-control-label::before{
    height: 17px !important;
    top: calc(50% - 8.5px);
}

.custom-control-label::after{
    height: 13px !important;
    top: calc(50% - 6.5px) !important;
}

#userId {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 20px;
}

legend{
    font-weight: 600;
}

.form-control, .form-control[readonly] {
    color: #000;
	background-color: unset;
    border: 2px solid;
}

.form-control::placeholder{
    color: #444;
}

.form-control::placeholder:focus {
	color: #6c757d;
}

.form-control:focus {
	border-color: #0d7d97;
}

.customFormButton {
    color: #404040;
	background-image: radial-gradient(#7ece87, #66c1c1);
}

.customFormButton:hover{
    color: #495734;
    border-color: #774848;
}

header > *{
    margin-right: 10px;
}

.login, .signup{
    max-width: 400px;
}

.userdata{
    max-width: 500px;
}

.form-alert{
    padding: 0;
    margin: 0;
}

.darkMode{
    background-image: linear-gradient(15deg, #772f1a 0%, #f2a65a 74%);
}

.darkMode .form-control{
    background-color: #e8e8e8;
}

.darkMode .dropdown-item, .darkMode #userId, .darkMode legend, .darkMode label, .darkMode #lastUpdated, .darkMode .customFormButton{
    color: aliceblue;
}

.darkMode .customFormButton:hover{
    color: #404040 !important;
}

.darkMode .btn:hover, .darkMode label:hover{
    color: aliceblue;
}

.darkMode .custom-control-label::before{
    background-image: radial-gradient(#40975e, #358686);
}

.darkMode .dropdown-menu{
    background-color: #333333;
}

.darkMode .dropdown-item{
    background-color: inherit;
}

.darkMode .dropdown-item:hover{
    background-color: #444;
}

.darkMode .dropdown-divider{
    border-top-color: #111;
}

.darkMode .customFormButton{
    background-image: radial-gradient(#955d51, #9d6c4f);
}