header > *{
    margin-right: 10px;
}

.login, .signup{
    max-width: 400px;
}

.userdata{
    max-width: 500px;
}

.form-alert{
    padding: 0;
    margin: 0;
}

.darkMode{
    background-color: #161616;
}

.darkMode div, .darkMode button{
    color: aliceblue;
}

.darkMode button:hover, .darkMode label:hover{
    color: aliceblue;
}

.darkMode .dropdown-menu{
    background-color: #333333;
}

.darkMode .dropdown-item{
    background-color: inherit;
}